ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
}

}
li {
    margin: 8px;
    padding: 8px;
    background-color: #19939e;
    float: right;
}
li a {
    display: inline-block;
}
body {
    background-image:url(images/b5.jpg);
    background-repeat: repeat-y;
    background-size: 300% 300%;
}

h2 {
    text-align: center;
    font-size: 12;
    font-weight: normal;
}

html *
{
    font-size: 1em !important;
    font-family: verdana !important;
    color: black !important;
}

body
{
    background-color: #b3d1bb;
}
header {
    display: inline-flex;
}
.repo {
    text-align: center;
}
.sidebar {
    background-color: #818c77;
    padding: 40px;
}
