#navigation {
    display: inline-block;
    background-color: #b9c297;
    height: 60px;
    width: 100%;
    margin: 0;
    text-align: center;
    
}
ul {
    list-style-type: none;
    display: inline;
}

li {
    display: inline-block;
    width: 100px;
    float: middle;
}
body {
    background-image:url(images/b5.jpg);
    background-repeat: repeat-y;
    background-size: 300% 300%;
}
h1 {
    text-align: center;
    font-size: 12;
}
h2 {
    text-align: center;
    font-size: 12;
    font-weight: normal;
}

body
{
    background-color: #b3d1bb;
    font-size: 14;
}
header {
    display: inline-flex;
}
.repo {
    text-align: center;
    padding: 50px;
    padding-bottom: 50px;
}
.sidebar {
    background-color: #818c77;
    padding: 40px;
    margin-top: 50px;
}
.experience {
    padding: 50px;
}
.chem {

}
h3 {
    text-align: center;
    font: Cookie;
    color: white;
}
footer {
    background-color: #1a1a1a;
}
.home-image {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    float: middle;
    padding: 50px;
    text-align: center;
}
#home-image {
    text-align: justify;
}
.menu {
    width: 50px;
    height: 5px;
    background-color: black;
    margin: 10px 0;
}
